<ion-header>
    <ion-toolbar>
        <ion-title>Réglages</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="settings">
    <ion-item>
        <ion-label position="stacked" color="medium">URL</ion-label>
        <ion-input [(ngModel)]="settings.baseUrl"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Numéro de SIM</ion-label>
        <ion-input [(ngModel)]="settings.simNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Identifiant unique (UUID)</ion-label>
        <ion-input [(ngModel)]="settings.uuid"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Distance parcourue avant envoi (m)</ion-label>
        <ion-input readonly disabled [(ngModel)]="settings.sendingDistance"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Interval avant envoi forcé (s)</ion-label>
        <ion-input readonly disabled [(ngModel)]="settings.sendingInterval"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Nombre de points stockés</ion-label>
        <ion-input readonly disabled [(ngModel)]="bufferSize"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Mode économique</ion-label>
        <ion-toggle [(ngModel)]="settings.ecoMode" color="primary"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label position="stacked" color="medium">Mode éco – Fréquence GPS limitée</ion-label>
        <ion-input readonly disabled value="{{locationConfig.locationProvider === 2 ? 'Pas de limite' : 'Limitée'}}"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Mode éco - Palier intermédiaire (%)</ion-label>
        <ion-input [(ngModel)]="settings.ecoInter"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" color="medium">Mode éco - Palier max (%)</ion-label>
        <ion-input [(ngModel)]="settings.ecoMax"></ion-input>
    </ion-item>
</ion-content>
<ion-footer>
        <ion-label (click)="seeLogFile()" color="medium">{{appName}} ({{packageName}}) - {{appVersionNumber}}</ion-label>
</ion-footer>
